.games {
  height: calc(100vh - 20rem);
  overflow-y: auto;
  margin: 0 !important;
}

.card {
  border: none !important;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card-text {
  font-size: 0.9rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.card a {
  color: #6c757d;
}

.card a:hover {
  color: #4799eb;
}

.badge {
  margin-right: 1rem;
}

@media screen and (min-width: 576px) {
  .games {
    height: calc(100vh - 17rem);
  }
}
